%h3
  Gitlabhq
  %span.right v2.2
%hr
%h4 Silverstripe Australia Self Hosted Git repositories

%hr

%h3 User Help

%ol
  %li
    = link_to "Getting Started", help_getting_started_admin_path
  %li
    = link_to "Workflow", help_workflow_path
  %li
    = link_to "Permissions", help_permissions_path

%h3 Administrator Help
%ol
  %li
    = link_to "Getting Started - Administrators", help_getting_started_admin_path
